@import "typography/_manifest";

header {
  font-family: $main-font;
  font-size: $large-font;
}

.logo {
  font-family: $logo-font;
  font-size: $large-font;
}

.sectionHeader {
  font-family: $logo-font;
  font-size: $largest-font;
  text-align: center;
}

nav {
  font-family: $secondary-font;
  font-size: 1em;
  font-style: italic;
  text-decoration: underline;
}

main {
  font-family: $main-font;
  font-size: $small-font;
  text-align: center;
}

.projectList {
  font-size: $small-font;
}

table{
  font-size: $regular-font;
}

caption {
  font-size: $regular-font;
}

.about {
  font-size: 1.4em;
}

.contactIcons {
  font-size: $regular-font;
}

